{
    "app": {
        "host": "0.0.0.0",
        "port": 8080,
        "timezone": "Asia/Tokyo",
        "debug": true
    },
    "log": {
        "prefix": "General API",
        "path": "logs/api.log",
        "level": "INFO",
        "type": "file"
    },
    "cache": {
        "use": false,
        "host": "redis",
        "port": 6379,
        "auth": ""
    },
    "db": {
        "name": "auth_api",
        "host": "database",
        "port": 3306,
        "user": "root",
        "password": "",
        "timezone": "Asia/Tokyo"
    },
    "mail": {
        "smtp": "",
        "port": 587,
        "useTLS": true,
        "user": "",
        "password": "",
        "from": "",
        "fromAlias": "",
        "to": [
            ""
        ]
    }
}