{
    "log": {
        "prefix": "[General API]",
        "path": "logs/api.log",
        "level": "INFO"
    },
    "cache": {
        "use": false,
        "host": "localhost",
        "port": 6379,
        "auth": ""
    },
    "db": {
        "name": "",
        "host": "localhost",
        "port": 3306,
        "user": "",
        "password": "",
        "timezone": "Asia/Tokyo"
    },
    "mail": {
        "smtp": "",
        "port": 587,
        "useTLS": true,
        "user": "",
        "password": "",
        "from": "",
        "fromAlias": "",
        "to": [
            ""
        ]
    }
}